.result{
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  font-size: 20.9vw;
  font-weight: bolder;
  font-family: "Britannic Bold", serif;
}
