mat-card::ng-deep.mat-card-header-text {
  width: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
  > div {
    flex: 50%;
    padding: 10px;
  }
}

> .temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
