:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
  ul li {
    list-style: none;
  }
  .btn:hover,
  .btn:focus,
  .btn:active{
    outline: 0 !important;
  }
  .lnr{
    margin-right: 10px !important;
  }

  .rounded-border{
    border-radius: 35px;
  }

  .edit-profile{
    text-decoration: none;
  }
  .bmi-value{
    font-weight: bold;
    text-align: center;
  }
  .bmi-value span{
    font-size: 18px;
  }

  .edit-profile:hover{
    background: #0b2e13;
    color: #ffffff;
  }

  .settings {

    a{
      text-decoration: none;
    }
    a:hover{
      background: #0b2e13 !important;
      color: #ffffff;
    }
  }
}

.card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 30px;
}


.card-container.static:hover .card,
.card-container.static.hover .card {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
.card {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.front {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  top: 0;
  left: 0;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.front {
  z-index: 0;
}

.card{
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  color: #444444;
}
.card-container, .front, .back {
  width: 100%;
  border-radius: 4px;
}
.card .cover{
  height: 90px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  background: #27761f;
}
.card .cover img{
  width: 100%;
  display:none;
}
.card .user{
  border-radius: 50%;
  display: block;
  height: 120px;
  margin-top: -60px;
  margin-left: 20px;
  overflow: hidden;
  width: 120px;
}

.card .user img{
  background: none repeat scroll 0 0 #FFFFFF;
  border: 4px solid #FFFFFF;
  width: 100%;
}
.img-circle{
  border-radius: 50%;
}
.card .content{
  background-color: rgba(0, 0, 0, 0);
  min-height: 80px;
  box-shadow: none;
}
.card .content .main {
  min-height: 160px;
}
.card .back .content .main {
  height: 215px;
}
.card .name {
  margin: 20px 5px 5px 5px;
  font-weight: lighter;
}
.full-name{
 font-size: 18px;
 line-height: 28px;
 font-weight: bolder;
}

.email{
  font-size: 15px;
}
.card h5{
  margin: 5px 0;
  font-weight: 400;
  line-height: 20px;
}
.card .profession{
  color: #999999;
  text-align: center;
  margin-bottom: 20px;
}
.card .footer {
  border-top: 1px solid #EEEEEE;
  color: #999999;
  margin: 30px 0 0;
  padding: 10px 0 0;
  text-align: center;
}
.card .footer .social-links{
  font-size: 18px;
}
.card .footer .social-links a{
  margin: 0 7px;
}

.card .header {
  padding: 15px 20px;
  height: 90px;
}
.card .motto{
  border-bottom: 1px solid #EEEEEE;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
}

.card .stats-container{
  width: 100%;
  margin-top: 50px;
}
.card .stats{
  display: block;
  float: left;
  width: 33.333333%;
  text-align: center;
}

.card .stats:first-child{
  border-right: 1px solid #EEEEEE;
}
.card .stats:last-child{
  border-left: 1px solid #EEEEEE;
}
.card .stats h4{
  font-weight: 300;
  margin-bottom: 5px;
}
.card .stats p{
  color: #777777;
}

p.email a {
  color:#3F9C35;
  text-decoration:none;
}
p.email a:hover {
  color:#69BE28;
  text-decoration:none;
}

button.btn-pack,
a.btn-pack{
  align-items: flex-start;
  background-color: #69be28;
  background-image: none;
  border-bottom-color: #69be28;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #69be28;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #69be28;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #69be28;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  font-family: 'Helvetica Neue', Roboto, sans-serif;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  height: auto;
  letter-spacing: normal;
  line-height: 20px;
  margin: 0;
  outline: #FFFFFF none 0;
  overflow-x: visible;
  overflow-y: visible;
  padding: 6px 16px;
  text-align: center;
  text-indent: 0;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  touch-action: manipulation;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.4s, 0.4s, 0.4s;
  transition-property: box-shadow, background-color, transform;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1), cubic-bezier(0.25, 0.8, 0.25, 1), cubic-bezier(0.25, 0.8, 0.25, 1);
  vertical-align: middle;
  white-space: nowrap;
  word-spacing: 0;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
  -webkit-user-select: none;
}

button.btn-pack:hover,
a.btn-pack:hover{
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(0, -1px, 0);
  transform: translate3d(0, -1px, 0);
  color: #fff;
  background-color: #3F9C35;
  border-color: #69BE28;
  text-decoration: none;
}

.btn-pack span.btn-icon{
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0.0470588);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-radius: 3px 3px 0 0;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  font-family: 'Helvetica Neue', Roboto, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  left: auto;
  letter-spacing: normal;
  line-height: 20px;
  padding:0 16px;
  position: relative;
  right: -16px;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  white-space: nowrap;
  word-spacing: 0;
  -webkit-user-select: none;
}
.btn-pack span.btn-text{
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  direction: ltr;
  display: inline;
  font-family: 'Helvetica Neue', Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  height: auto;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  white-space: nowrap;
  width: auto;
  word-spacing: 0;
  -webkit-user-select: none;
}


.content{
  padding: 16px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card .cover{
    background: url('../../../assets/images/profile.jpg') no-repeat;
  }
}
