<mat-card>
  <h2 class="center">Update Password</h2>
</mat-card>
<br>
<mat-card>
  <form [formGroup]="passwordForm">
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Current Password</mat-label>
          <input class="input100" type="password" matInput formControlName="current_password">
          <mat-error *ngIf="errors.password">{{errors.password[0]}}</mat-error>
          <mat-error *ngIf="current_password.invalid && current_password.touched">{{get_current_password_error()}}</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50%" class="m-t-20" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>New Password</mat-label>
          <input class="input100" type="password" matInput formControlName="new_password">
          <mat-error *ngIf="errors.new_password">{{errors.new_password[0]}}</mat-error>
          <mat-error *ngIf="new_password.invalid && new_password.touched">{{get_new_password_error()}}</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Confirm New Password</mat-label>
          <input class="input100" type="password" matInput formControlName="password_confirmation">
          <mat-error *ngIf="errors.new_password_confirmation">{{errors.new_password_confirmation[0]}}</mat-error>
          <mat-error *ngIf="password_confirmation.invalid && password_confirmation.touched">{{get_password_confirmation_error()}}</mat-error>
        </mat-form-field>
      </div>
      <br>

    </div>
  </form>

  <mat-card-actions align="center">
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
        <button  mat-raised-button routerLink="/dashboard/profile" class="cancel" color="warn">
          Cancel
        </button>
      </div>
      <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
        <button  mat-raised-button color="primary" class="submit" [disabled]="!passwordForm.valid" (click)="submit()">
          Submit
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
