<mat-card>

  <mat-toolbar-row>
    <h2><img src="./../../../assets/images/svg/veryHappy.svg" width="15%" alt="Mood"> Mood Tracking</h2>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-raised-button routerLink="/dashboard/my-mood/add" class="rounded-border" color="primary"><mat-icon class="icon">add</mat-icon> Save Mood</button>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-card>

<mat-card>

</mat-card>
